{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bstreeview.min.css"/>
<!--    <script src="/js/popper.min.js"></script> -->
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bstreeview.min.js"></script>

    <title>{{.Title}}</title>

<script>
    function toggleFolder(icon) {
      var folder = icon.parentElement;
      var nestedList = folder.querySelector('ul');
      if (nestedList) {
        nestedList.style.display = nestedList.style.display === 'none' ? 'block' : 'none';
        var iconClassList = icon.classList;
        iconClassList.toggle('fa-folder-open');
        iconClassList.toggle('fa-folder');
      }
    }
    function getTree() {
        var data = {{ .Sidebar }};
        return data;
    }


$(document).ready(function(){
    $('#tree').bstreeview({ 
        
        data: getTree(),
        openNodeLinkOnNewTab: false
    });
    $('.binfiles').on('click', function () {
        window.open($(this).attr('id'), "_blank"); 
    });
    $('#searchForm').on('submit',function (e) {
        e.preventDefault();
        window.location.href = '/search/' + $("#searchInput").val();
    });
    $('#newForm').on('submit',function (e) {
        e.preventDefault();
        window.location.href = '/edit/' + $("#newDoc").val();
    });

});

</script>
</head>
<body>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-lg-12">
                <nav class="navbar navbar-dark navbar-expand-lg  bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand " href="/">
                            <img src="/css/img.png" alt="" width="30" height="24" class="d-inline-block">
                            WiKiX
                        </a>    
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                        <div class="collapse navbar-collapse " id="navbarText">
                            <ul class="navbar-nav ms-auto">                            

                                <li class="d-flex align-items-center">
                                    <i class="text-white fa fa-files-o"></i>
                                    <a class="nav-link active " href="/dav" target="_blank">WebDAV</a>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="text-white fa fa-floppy-o"></i>
                                    <a class="nav-link active " href="/backup">Backup</a>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="text-white fa fa-terminal"></i>
                                    <a class="nav-link active " href="/rc" target="_blank">Bash</a>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="text-white fa fa-code"></i>
                                    <a class="nav-link  active " href="/doc">Doc</a>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="text-white fa fa-sitemap"></i>
                                    <a class="nav-link active " href="/nmap">Nmap</a>
                                </li>
                                <li>
                                    <form id="searchForm" class="d-flex" role="search">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-search"><i class="fa fa-search"></i></span>
                                            <input class="form-control" type="text" id="searchInput" placeholder="Search" autocomplete="off">
                                        </div>
                                    </form>    
                                </li>
                                <li>
                                    <form id="newForm" class="d-flex" role="search">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-search"><i class="fa fa-pencil"></i></span>
                                            <input id="newDoc" class="form-control" type="text" placeholder="New Page" autocomplete="off">
                                        </div>
                                    </form>    
                                </li>
                            </ul>
                        </div>      
                    </div>        
                </nav>    
            </div>
        </div>
        <div class="row flex-nowrap">
            <div class="col-auto ml-2">
                <div id="tree">

                </div>
            </div>
            <main class="col ps-md-2 pt-2">
                <div class="row">
                    <div name ="main" class="col-12">
                        {{ template "main" . }}
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
{{end}}
