{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link href="/fonts/fonts.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.min.css" rel="stylesheet">
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <title>Wiki</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
        }

        #sidebar {
            height: 100vh;
            border-right: 1px solid;
        }

        #editor {
            height: 100vh;
            width: 100%;
            padding: 20px;
        }

        #main {
            flex-grow: 1; 
        }
        li > a {
            white-space: nowrap;
        }
        .collapsing {
            transition: none !important;
        }

    </style>

</head>
<body>

    <div class="container-fluid">
        <div class="row flex-nowrap w-100">
            <div class="col-auto  bg-dark overflow-auto" style="max-width: 40vh; max-height: 100vh; overflow-x:auto; ">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline"><h1 class="display-2"><i class="bi bi-radioactive"></i></h1></span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="#pages" data-bs-toggle="collapse" class="nav-link px-0 align-middle link-light gap-2">
                                <i class="fs-4 bi bi-filetype-md"></i> <span class="ms-1 d-none d-sm-inline">Pages</span> 
                            </a>
                            <ul class="collapse show nav flex-column ms-1" id="pages" data-bs-parent="#menu">
                                    {{range .Pages}}
                                    <li name="" class="nav-item d-flex text-wrap ">
                                        <a href="/view/{{.}}"  class="nav-link px-0 link-light d-flex gap-1 " >
                                            <i class="bi bi-markdown"></i><span class="ms-1 d-none d-sm-inline">{{.}} </span>
                                        </a>
                                        <!-- <a href="/edit/{{.}}"  class="nav-link px-5 link-danger " ><i class="fa fa-edit"></i></a> -->
                                    </li>
                                    {{end}}
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#files" data-bs-toggle="collapse" class="nav-link px-0 align-middle link-light gap-2 ">
                                <i class="fs-4 bi-file-earmark-binary"></i> <span class="ms-1 d-none d-sm-inline">Files</span> 
                            </a>
                            <ul class="collapse nav flex-column ms-1" id="files" data-bs-parent="#menu">
                                {{range .Attachments}}
                                <li class="nav-item text-wrap ">
                                    <a href="/dl/{{.}}" target="_blank" class="nav-link px-0 link-success " ><span class="ms-1 d-none d-sm-inline text-wrap"><i class="bi bi-file-binary-fill"></i>&nbsp;{{.}} </span></a>
                                </li>
                                {{end}}
                            </ul>
                        </li>
                    </ul>
                    <hr>

                 
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/fonts/img.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">wikix</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <ul class="nav">
                                <div class="input-group mb-1">
                                    <form id="searchForm" class="nav-item d-flex gap-1">
                                        <i class="fs-6 bi-search"></i>
                                        <input class="form-control form-control-sm" type="text" id="searchInput" placeholder="Search" autocomplete="off">
                                    </form>
                                    <script>
                                        document.getElementById('searchForm').addEventListener('submit', function(event) {
                                            event.preventDefault();
                                            var query = document.getElementById('searchInput').value;
                                            window.location.href = '/search/' + encodeURIComponent(query);
                                        });
                                    </script>
                                </div>
                            </ul>
                            <ul class="nav">
                                <div class="input-group mb-1">
                                    <form id="newForm" class="nav-item d-flex gap-1">
                                        <i class="fs-6 bi-file-earmark-plus-fill"></i>
                                        <input class="form-control form-control-sm" type="text" id="newDoc" placeholder="New/Edit Page" autocomplete="off">
                                    </form>
                                    <script>
                                        document.getElementById('newForm').addEventListener('submit', function(event) {
                                            event.preventDefault();
                                            var query = document.getElementById('newDoc').value;
                                            window.location.href = '/edit/' + encodeURIComponent(query);
                                        });
                                    </script>
                                </div>
                            </ul>
                            <li><a class="dropdown-item" href="/nmap">nmap</a></li>
                            <li><a class="dropdown-item" href="/info">browser info</a></li>
                            <li><a class="dropdown-item" href="/doc">documentation</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/backup" target="_blank" >backup</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div name="main" class="col py-3">
                {{ template "main" . }}
            </div>
        </div>
    </div>
    
</body>
</html>
{{end}}
