{{define "title"}}{{.Page.Title}}{{end}}

{{define "main"}}
    <link rel="stylesheet" href="/css/easymde.min.css"/>
    <script src="/js/easymde.min.js"></script>
    <h1 class="display-3"><i class="fa fa-pencil"></i> {{.Page.Title}}</h1>
    <form action="/save/{{.Page.Title}}" method="post">
    <textarea name="body" id="edit-area">{{.Content}}</textarea>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-success"><i class="fa  fa-floppy-o"></i></button>
        <a href="/del/{{.Page.Title}}" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>    
    </div>

    <script>
        const easymde = new EasyMDE({
        autoDownloadFontAwesome: false,
        spellChecker: false,
        sideBySideFullscreen: false,
        element: document.getElementById('edit-area'),
        });
    </script>
{{end}}
