{{define "main"}}
    <script>
        $(document).ready(function(){
            $('input[name="filter"]').on('input', function (e) {
                !this.value
                ? $('.ipaddr').removeClass('d-none')
                : $('.ipaddr').addClass('d-none').filter('[id*="' + this.value.toLowerCase() + '"]').removeClass('d-none');
            });
            $('.ipaddr').on('click', function (e) {
                console.log("click");
                window.open("nmap/show/"+$(this).attr('id')+"/sum", "imain"); 
            });

        });            
    </script>
    <div class="flex-container">
        <div class="d-flex flex-row ">
            <div class="d-flex flex-column">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                    <input class="form-control form-control-sm" type="text" name="filter" placeholder="Filter" autocomplete="off" style="flex-grow: 0; flex-basis: 120px;">
                </div>                  
            </div>
        </div>
        <div class="d-flex flex-row flex-grow-1" >
            <div class="d-flex flex-column flex-grow-1"  >
                <iframe name="imain"  class="flex-grow-1" style="height: 80vh;" ></iframe>
            </div>
        </div>
    </div>
{{end}}